$font: "Open Sans", sans-serif;
$font-secondary: "Anton", $font;

// Font weight
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-black: 800;

// Font mixin
@mixin font($weight) {
	font-family: $font;
	font-weight: $weight;
}
