/*
/wp-content/*
/wp-content/plugins/*
/wp-content/themes/*
node_modules
vendor
images

!wp-content/
!wp-content/plugins/
!wp-content/mu-plugins/
!wp-content/themes/
!wp-content/themes/musicshop-timber/

!.gitignore
!.stylelintrc

!package.json
!gruntfile.js
!atomic.config.js

!composer.json

!favicon.ico