.btn {
	display: inline-block;
	padding: 0.75em 2em;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: $font-bold;
	border: 0;
	cursor: pointer;

	&--primary {
		background: $primary;
		color: $dark;

		&:hover,
		&:focus {
			background: darken($primary, 5%);
		}
	}

	&--secondary {
		background: $secondary;
		color: $background;
	}

	&--dark {
		background: $dark;
		color: $background;

		&:hover,
		&:focus {
			background: lighten($dark, 5%);
		}
	}
}
