.input {
    display: inline-block;
    height: 4rem;
    width: 100%;
    background: transparent;
    border: 1px solid $grey--light;
    color: $grey--light;
    outline: 0;
    padding: 1rem;
    text-transform: uppercase;
}

.input--transparent {
    background: transparent !important;
    color: $white !important;
    font-weight: $font-light;

    &::placeholder {
        color: inherit;
    }
}

.woocommerce input[type="number"] {
    // font-size: 0.875em;
    height: 36px;
    border: 0;
    background-color: $grey--light;
}

.woocommerce-cart,
.woocommerce-checkout {
    .woocommerce input[type="text"],
    .woocommerce input[type="tel"],
    .woocommerce input[type="email"],
    .woocommerce textarea,
    .woocommerce select {
        padding: 8px 10px;
        border: 1px solid $grey;
        box-shadow: inset 0 1px 2px rgba($grey--dark, 0.5);
        outline: none;
        font-size: 0.875rem;

        &:focus-visible {
            box-shadow: 0 0px 4px rgba($grey--dark, 0.5);
        }
    }

    label {
        font-size: 0.875rem;
    }
}
