.hero {
	width: 100%;
	position: relative;

	&__slide {
		position: relative;

		& img {
			width: 100%;
		}

		&-content {
			position: absolute;
			color: $background;
			text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

			& > .wrapper {
				max-width: 60ch;
			}

			&--left {
				top: 0;
				bottom: 0;
				left: 0;
				width: 50%;
				padding: 4rem;
				display: flex;
				align-items: center;
			}

			&--center {
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 4rem;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;

				&-top {
					align-items: flex-start;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 4rem;
					display: flex;
					justify-content: center;
					text-align: center;
				}
			}
		}
	}
}

.swiper-pagination-bullet {
	border-radius: 0;
	width: 50px;
	height: 2px;
	background-color: $dark;
	opacity: 1;

	&-active {
		background-color: $primary;
	}
}
