body.single-product {
	.product_title {
		margin-bottom: 1rem !important;
	}

	.gallery {
		margin-bottom: 4rem;
		position: relative;
	}

	.gallery__main {
		margin-bottom: 1rem;
		width: 100%;

		.swiper-slide {
			height: 250px;

			& > a {
				display: flex;
				justify-content: center;
				height: 100%;
			}
		}
	}

	.gallery-loading {
		display: none;
		position: absolute;
		inset: 0;
		background-color: rgba($white, 0.8);
		justify-content: center;
		align-items: center;
		color: $dark;
		font-weight: 600;
		z-index: 5;
	}

	.swiper-slide > a {
		display: block;
		height: 100%;
	}

	.gallery__thumbs {
		.swiper-slide {
			border: 1px solid $grey;
		}
	}

	.swiper-slide img {
		display: block;
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}

	.fslightbox-slide-btn {
		svg path {
			fill: $primary;
		}
	}

	.fslightbox-toolbar-button {
		svg path {
			fill: $primary;
		}
	}

	.fslightbox-slide-number-container {
		span,
		div {
			color: $primary;
		}

		.fslightbox-slash {
			background: $primary;
		}
	}

	.fslightbox-container {
		background: rgba(#fff, 0.9) !important;
	}

	.price {
		display: block;
		// margin-bottom: 1rem;
		.amount {
			font-size: 2em;
			font-weight: 700;
		}

		.original-price,
		del {
			.amount {
				font-size: 1.4em;
				font-weight: 400;
				margin-bottom: 1rem;
				text-decoration: line-through;
				color: $grey--dark;
			}
		}
	}

	del,
	ins {
		display: block;
		text-decoration: none;
	}

	.tax-comment {
		font-size: 0.75rem;
	}

	.quantity {
		display: inline-block;
		margin: 3rem 10px 1rem 0;
	}

	.sku {
		font-size: 0.75em;
	}

	.woocommerce_before_single_product_summary {
		margin-bottom: 1rem;
	}

	ul.wc-tabs {
		display: flex;
		list-style: none;
		padding-left: 1rem;
		border-bottom: 1px solid $grey;

		li {
			padding: 0.625rem 1rem;
			border-top: 1px solid $grey;
			border-left: 1px solid $grey;
			border-right: 1px solid $grey;

			&:not(:last-child) {
				margin-right: 0.5rem;
			}

			a {
				color: lighten($color: $dark, $amount: 15);
				text-decoration: none;
				font-size: 0.875rem;
				font-weight: 600;
			}
		}

		li.active {
			position: relative;

			a {
				color: $dark;
			}

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				bottom: -1px;
				left: 0;
				height: 1px;
				background-color: $white;
			}
		}
	}
}

.woocommerce-variation-description {
	margin: 1rem 0;
}

.related__products {
	h2 {
		margin-bottom: 2rem;
	}
}

.variation__label label {
	display: block;
	font-size: 1.25rem;
	font-weight: $font-bold;
}

.variation__value {
	margin-bottom: 1rem;
	position: relative;

	select {
		appearance: none;
		border: 0;
		background: $grey--light;
		padding: 0.5rem 1.5rem 0.5rem 0.75rem;
		cursor: pointer;
		font-size: 0.875em;
	}

	& svg {
		position: absolute;
		// inset: 0;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		pointer-events: none;
	}

	// &::after {
	// 	content: "▾";
	// 	position: absolute;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	right: 10px;
	// 	color: $black;
	// 	pointer-events: none;
	// }
}

.stock {
	font-size: 0.875em;
	font-weight: 600;
	margin: 1rem 0 !important;

	&.in-stock {
		color: green;
	}
}

.single_add_to_cart_button,
.add_to_cart_button {
	display: inline-flex;
	align-items: center;
	padding: 1;
	height: 36px;
}

.added_to_cart.wc-forward {
	display: none !important;
}

.toast-header,
.toast {
	border-radius: 0 !important;
}

.toast-body {
	display: flex;

	& .toast-image {
		margin-right: 1rem;
		height: auto;
		width: 60px;

		& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	&.toast-message {
		font-weight: 600;
	}
}
