.woocommerce button.button {
	color: $dark !important;
	background-color: $primary !important;
	border-radius: 0 !important;

	&:hover {
		background-color: darken($primary, 5) !important;
	}
}

.product__onsale {
	position: absolute;
	left: 0;
	top: 0;
	background-color: $secondary;
	color: white;
	border-radius: 0;
	padding: 0.3125rem 0.5rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.75em;
	font-weight: 700;
}
